// Palette
$blue-500: #2196F3;
$blue-a200: #448AFF;
$blue-a700: #2962FF;
$deeppurple-a200: #7C4DFF;
$indigo-a400: #3D5AFE;
$purple-a400: #D500F9;
$green-a700: #00C853;
$amber-a400: #FFC400;
$deeporange-a400: #FF3D00;

// Site
$site-bkg: #fff;

// Header
$header-bkg-page-layout: transparent;
$header-fnt-color-page-layout: #444;

// Footer
$footer-bkg: #eee;
$footer-fnt-color: #777;


// Post blog
$post-blog-header-bkg: #fff;
$post-blog-header-fnt-color: #444;

// Index
$index-header-fnt-color: #444;

// Contact
$contact-content-header-bkg: $deeppurple-a200;
$contact-content-header-fnt-color: #fff;