<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Team 5937</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700|Roboto+Mono:400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/css/screen.css" | prepend: site.baseurl }}">
  <link rel="shortcut icon" type="image/png" href="/assets/images/logo.png">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Inconsolata" />

  <!-- Sharing link information -->
  <meta property="og:site_name" content="Team 5937"/>
  <meta property="og:description" content="Team 5937 is Mercer Island High School's official FIRST Robotics team."/>
  <meta property="og:image" content="/assets/images/teamscode_share_graphic.png">
  <meta property="og:url" content="http://team5937.com/">

</head>