<style>
/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: inline-block;
  cursor:pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(91,3,1,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
</style>

<div class="header">
  <div class="site-max-width">
    <div class="header-logo">
      <a href="/">
        <img src="/assets/images/{{ include.logo }}" height="40" alt="mirobotics"/>
        <p style="display: inline; margin-left:0px; font-size:18px">
          MI Robotics
        </p>
      </a>
    </div>
    <div class="header-menu">
      <div class="header-menu-item">
        <a href="/calendar">Calendar</a>
      </div>
      <div class="header-menu-item">
        <a href="/ourteam">Our Team</a>
      </div>
      <div class="header-menu-item">
        <a href="/blog">Blog</a>
      </div>
      <div class="header-menu-item dropdown">
        <a>Resources</a>
        <div class="dropdown-content">
          <a href="/resources/permission-slips">Permission Slips</a>
          <a href="/resources/new-members-form">New Members Form</a>
          <a href="/resources/misc">Miscellaneous Resources</a>
        </div>
      </div>
      <div class="header-menu-item">
        <a href="/contact">Contact</a>
      </div>
    </div>
  </div>
</div>
