<div class="header">
  <div class="site-max-width">
    <div class="header-logo">
      <a href="/">
        <img src="/assets/images/{{ include.logo }}" height="40" alt="mirobotics"/>
        <p style="display: inline; margin-left:10px">MI Robotics</p>
      </a>
    </div>
    <div class="header-menu">
      <div class="header-menu-item">
        <a href="/outreach">Outreach</a>
      </div>
      <div class="header-menu-item">
        <a href="/aboutFirst">About FIRST</a>
      </div>
      <div class="header-menu-item">
        <a href="/calendar">Calendar</a>
      </div>
      <div class="header-menu-item">
        <a href="/ourteam">Our Team</a>
      </div>
      <div class="header-menu-item">
        <a href="/blog">Blog</a>
      </div>
      <div class="header-menu-item">
        <a href="/contact">Contact</a>
      </div>
    </div>
  </div>
</div>
