// Site
$site-max-width: 960px;

// Index widgets
$widget-max-width: 760px;

// Header
$header-height: 64px;
$header-line-height: 64px;

// Post blog
$post-blog-max-width: 720px;

// Blog
$blog-max-width: 760px;
